.header {
  max-width: 640px;
  margin: 16px auto 0;
  padding: 0 16px;

  div {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__add-todo {
    padding: 4px 16px;
    background: #61dafb;
    border: 0;
    color: white;
    font-weight: 600;
    border-radius: 6px;
    text-decoration: none;
    cursor: pointer;
  }

  &__new-todo-form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 12px;

    input {
      flex: 1;
      margin-right: 8px;
    }
  }
}